/* CSS Reset */
* {
    margin: 0;
    padding: 0;

}
/* For Smooth scrolling */
html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root {
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    left: 0px;

}

/*  Navigation Bar: Logo and Image */
#logo {
    margin: 4px 5px;

}

#logo img {
    margin: 2px 2px;
    height: 65px;
    opacity: 2.4;
    
}


/*  Navigation Bar: List Styling */

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;/*content iske upr aa jaayega*/
    
    opacity: 0.6;

}

#navbar ul {
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#navbar ul li {

    list-style: none;
    font-size: 1.3rem;

}

#navbar ul li a {
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}

#navbar ul li a:hover {
    background-color: white;
    color: black;
}


/* Home Section*/

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    font-size: 2px;
    height: 524px;
    color: white;
}

#home::before {
    content: "";
    background: url('../img/bg.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 587px;
    z-index: -1;/*content iske upr aa jaayega*/ 
    opacity: 0.9;
    margin: 3px 3px;
}


#home h1{
    color: white;
    text-align: center;
    font-family: cursive;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Service section */

#services{
    margin: 34px;
    display: flex;

}
#services .box{
    border:2px solid red;
    padding: 34px;
    margin: 24px 15px;
    border-radius: 28px;
    background-color:rgb(163, 225, 225);

}
#services .box img{
    height: 140px;
    display: block;
    margin: auto;
}
#services .box p{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}


/* Client Section */
#client-section{
    position: relative;
/* height: 400px; */
}
#client-section::before{
    content:"";
    position: absolute;
    background:url('../img/bg1.jpg') no-repeat center center/cover;
    width: 100%;
    height: 80%;
    z-index: -1;
    opacity: 0.4;
    }
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 140px;
}

.client-item{
    padding: 30px 54px;
    margin: 45px 0px;
    z-index: -1;
}

/* Contact Section */
#contact{
position: relative;
height: 518px;
}
#contact::before{
content: "";
position: absolute;
background:url('../img/contact.jpg') no-repeat center center/cover;
width: 100%;
height: 100%;
z-index:-1;
opacity: 0.4;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
    margin: 14px 25px;
}

#contact-box input, #contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 0.8rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
}

footer{
    background: black;
    color: white;
    padding: 9px 20px;

}
/* Utility Classes */
.h-primary{
    font-size: 2.8rem;
    padding: 12px;
    font-family: cursive;
}
.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family:cursive;
}
.btn{
    border: 2px solid white;
    background-color:yellow;
    padding: 6px 20px;
    color: black;
    font-weight: bolder;
    margin: 17px 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}
.center{
text-align: center;

}


